@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* font defination */
@font-face {
  font-family: "Almarai";
  src: url("../../../assets/font/Almarai-Bold.ttf") format("truetype"),
    url("../../../assets/font/Almarai-ExtraBold.ttf") format("truetype"),
    url("../../../assets/font/Almarai-Light.ttf") format("truetype"),
    url("../../../assets/font/Almarai-Regular.ttf") format("truetype");
}

@theme inline {
  --color-main-color: #2a4d69;
  --color-white-color: #f5f5f5;
  --color-second-white-color: #d9d9d9;
  --color-hover-color: #00acc1;
  --color-not-color: #ff9800;
  --color-accept-color: #4caf50;
  --color-error-color: #e40000;
  --color-placeholder-color: #a4a4a4;

  --size-factor: 1;
  --text-size-8: calc(0.5rem * var(--size-factor));
  --text-size-9: calc(0.563rem * var(--size-factor));
  --text-size-10: calc(0.625rem * var(--size-factor));
  --text-size-12: calc(0.75rem * var(--size-factor));
  --text-size-13: calc(0.813rem * var(--size-factor));
  --text-size-14: calc(0.875rem * var(--size-factor));
  --text-size-15: calc(0.938rem * var(--size-factor));
  --text-size-16: calc(1rem * var(--size-factor));
  --text-size-17: calc(1.063 * var(--size-factor));
  --text-size-18: calc(1.125rem * var(--size-factor));
  --text-size-20: calc(1.25rem * var(--size-factor));
  --text-size-22: calc(1.375rem * var(--size-factor));
  --text-size-24: calc(1.5rem * var(--size-factor));
  --text-size-28: calc(1.75rem * var(--size-factor));
  --text-size-30: calc(1.875rem * var(--size-factor));
  --text-size-44: calc(2.75rem * var(--size-factor));
  --text-size-60: calc(3.75rem * var(--size-factor));
  --text-size-144: calc(9rem * var(--size-factor));

  --shadow-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
  --shadow-drop-shadow: 0 0.25rem 0.625rem rgba(20, 20, 20, 0.18);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Almarai", sans-serif !important;
  height: 100svh;
  width: 100vw;
  padding: 0;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.animate-loader-circle {
  animation: loader-circle 3s ease-in-out infinite;
  -webkit-animation: loader-circle 3s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes loader-circle {
  0% {
    stroke-dasharray: 0 126.4;
    transform: rotate(0deg);
  }

  50% {
    stroke-dasharray: 86.4 126.4;
    transform: rotate(360deg);
  }

  100% {
    stroke-dasharray: 0 126.4;
    transform: rotate(720deg);
  }
}

.min-w-0 {
  min-width: 0;
}

.scroll-bar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.scroll-bar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
